*.iml
.gradle
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
env
# IntelliJ / Android Studio
.idea/
*.iml
.gradle/
local.properties
/local.properties

# Gradle Daemon
gradle/gradle-daemon-jvm.properties
